@import "components/colors.scss";
@import "../../../vendor/bower_components/sweetalert2/src/sweetalert2.scss";
@import "../../../vendor/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss"; 
@import "components/fonts/material-design-icons.scss";  
@import "components/badge.scss"; 
@import "components/leftPanel.scss"; 
@import "components/ngAnimate.scss"; 
@import "components/console.scss"; 
@import "components/toolbar.scss"; 
@import "components/image.scss"; 
@import "components/loader.scss"; 
@import "components/terminal.scss"; 
@import "components/cards.scss";
@import "components/panels.scss"; 

html{ 
	body{ 
		background: #f8f8f8;
		.no-pointer-events{
			pointer-events: none;
		}
		.sweet-alert{
			hr{
				height:0;
			}
		}
		.clear{
			clear:both;
		}
		.btn{
			.material-icons{
				font-size:inherit; 
				line-height:inherit; 
				width:auto;
				height:auto;
				vertical-align:middle;
			}
		}
		ul{
			list-style:none;
		}		
		main{
			padding-left:340px;
			overflow-y:overlay;
			header{
				padding:10px 20px;
				background: white;
				border-bottom: 1px solid #ccc;
			}
			.pageTitle{
				background:color('docker-secondary','base');
				color:white;
				font-weight:bold; 
				text-transform:uppercase;
				margin:0; 
				margin-bottom:15px;
				padding:28px; 
				text-align:center;
				.badge{
					float:none;
				}
			}
			table{
				tr{
					td,th{
						vertical-align:top;
						ul{
							list-style:none; 
							padding:0;
						}
					}
				}
			}
		}
	}
}        
