$colors: () !default;

$colors: map-merge($colors, (
	"docker-green": ("base": #86D801),
	"docker-orange": ("base": #FA8000),
	"docker-red": ("base": #EB3E46),
	"docker-grey": ("base": #E6EDF4),
	"docker-primary": ("base": #22B8EB),
	"docker-secondary": ("base": #384D55)
));

// Color Classes
@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color_value !important;
      }

      .panel.panel-#{$color_name}{
        border-color: darken($color_value, 10%); 
        .panel-heading{
          background: $color_value;
          color:white;
        }
      }

    }
    @else {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }
    }
  }
}


// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}


// extending bootstrap colors 
$brand-primary: color('docker-primary','base');
$brand-success: color('docker-green','base');
$brand-info:    color('docker-secondary','base');
$brand-warning: color('docker-orange','base');
$brand-danger:  color('docker-red','base');