#view{
	position:absolute;
	left:340px;
	right:0;
	opacity:1;
	overflow-y:scroll;
	transition: 0.1s linear all;
}

#view.ng-leave{
 	opacity:1; 
 	&.ng-leave-active{
 		opacity:0;
 	}
}
#view.ng-enter{
 	opacity:0; 
 	&.ng-enter-active{
 		opacity:1;
 	}
}
