.panel.panel-info{
	color:white;
	background: color('docker-secondary','base'); 
	.panel-heading{
		text-align:center; 
		font-weight:bold;
		font-size:1.2em;
		line-height:1em;
		color:#ccc;
		background:rgba(black,0.1);
		border-bottom:2px solid rgba(black,0.2);
	}
	.panel-body{
		font-size:0.8em;
		> .btn{
			margin:5px;
		}
	}
	table{
		width:100%;
		td,th{
			padding:0 5px;
		}	
		&.form{
			th,td{
				height:45px;
				vertical-align:middle;
				.form-control{
					background:rgba(white,0.5);
				}
			}
			&.list{
				tr{
					td:last-child{
						width:1px;
					}
				}
			}
		}
		&.configuration{	
			th{
				width:20%;
			}
			td{
				width:30%;
			}
		}
		&.fixed{
			table-layout:fixed;
		}
	}
	.consolas{
		white-space:pre;
		word-break: break-all;
		font-family: consolas;
		span{
			display:inline;
		}
	}
	.noData{
		text-align:center;
		padding:10px;
		font-style:italic;
	}
	&.light{
		.panel-heading{
			color:color('docker-secondary','base'); 
		}
		background: color('docker-grey','base');
		color:black; 
	}
	&.dark{
		background: #222;
	}
	&.hub{
		.image{
			text-align:center;
			padding:20px;
		}
		.name{
			position:relative;
			text-align:center;
			font-weight:bold;
			font-size:3em;
			.badges{
				position:absolute;
				top:14px;
				margin-left:20px;
				display:inline-block;
				.badge{
					color:#ccc;
					margin-left:6px;				
				}
			}
		}
		.description{
			text-align:center; 
			font-size:1.6em;
			font-style:italic;
			margin-bottom:10px;
		}
	}
}

.container-details{
	position:relative;
	.col-md-12{
		&.console-container{
			position:relative;
			display:block;
			.panel{
				height: 400px;
			}
		}
	}
	@media (min-width: $screen-lg-min){
		.col-lg-6{
			float:none;
			&.console-container{
				position:absolute;
				top:0;
				right:0;
				bottom:0;
				.panel{
					height:100%;
				}
			}
		}
	}
}