<div class="toolbar-container">
	<div class="headbar containers">
		<div class="pageName"> Containers </div>
		<input class="form-control" ng-model="query.$" type="text"/>  
	</div>
	<div class="toolbar">
		Here are all your containers
		<ul class="right">
			<li class="sortOrder {{ (predicate === 'shortName')?'active':'' }}" ng-click="order('shortName')"> 
				Name
				<i class="material-icons"> {{ reverse ? 'arrow_drop_down' : 'arrow_drop_up' }} </i>
			</li>
			<li class="sortOrder {{ (predicate === 'Id')?'active':'' }}" ng-click="order('Id')"> 
				Id
				<i class="material-icons"> {{ reverse ? 'arrow_drop_down' : 'arrow_drop_up' }} </i>
			</li>
			<li class="sortOrder {{ (predicate === 'Image')?'active':'' }}" ng-click="order('Image')"> 
				Image
				<i class="material-icons"> {{ reverse ? 'arrow_drop_down' : 'arrow_drop_up' }} </i>
			</li>
			<li class="sortOrder {{ (predicate === 'Created')?'active':'' }}" ng-click="order('Created')"> 
				Created
				<i class="material-icons"> {{ reverse ? 'arrow_drop_down' : 'arrow_drop_up' }} </i>
			</li>			
			<li class="sortOrder {{ (predicate === 'isUp')?'active':'' }}" ng-click="order('isUp')"> 
				State
				<i class="material-icons"> {{ reverse ? 'arrow_drop_down' : 'arrow_drop_up' }} </i>
			</li>
		</ul>
	</div>
</div>
 	

<ng-include  ng-repeat="container in containers|filter:query|orderBy:predicate:reverse" src="'container/containerCard.html'"> </ng-include>



 