<div class="col-md-4">
	<div class="containerCard" style="border-color:{{container.Recommended.gradient_end}};background:linear-gradient({{container.Recommended.gradient_start}},{{container.Recommended.gradient_end}})">
		<img src="{{container.Recommended.imgUrl}}"/>		
		<div class="name"> {{ container.shortName }} </div>
		<div class="id"> {{ container.Id | limitTo: 12 }} </div>
		<div class="image"> {{ container.Image }} </div>
		<div class="status {{ container.isUp ? 'up' : 'down'}}"></div>
		<a href="#/containers/{{container.Id}}">
			<i class="material-icons"> zoom_in </i>
		</a>
		
	</div>
</div>
